##
# AWS Credentials
##
provider "aws" {
  access_key = "{{ aws_access_key }}"
  secret_key = "{{ aws_secret_key }}"
  region     = "eu-west-1"
}

##
# Networking components
##
# Virtual Private Cloud
resource "aws_vpc" "tfg_vpc" {
  cidr_block = "172.16.0.0/16"
  enable_dns_hostnames = true
  tags = {
    Name = "tfg_vpc"
    Launcher = "terraform"
  }
}

# Internet Gateway
resource "aws_internet_gateway" "tfg_vpc_gw" {
  vpc_id = "${aws_vpc.tfg_vpc.id}"
  tags = {
    Name = "tfg_vpc_gw"
    Launcher = "terraform"
  }
}

# Route Table
resource "aws_route_table" "tfg_vpc_gw_rtable" {
  vpc_id = "${aws_vpc.tfg_vpc.id}"
  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = "${aws_internet_gateway.tfg_vpc_gw.id}"
  }
  tags = {
    Name = "tfg_vpc_gw_rtable"
    Launcher = "terraform"
  }
}

##
# Subnets
##
resource "aws_subnet" "tfg_az1_bastion_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.10.0/24"
  availability_zone = "eu-west-1a"
  tags = {
    Name = "tfg_az1_bastion_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az1_bastion" {
  subnet_id      = "${aws_subnet.tfg_az1_bastion_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

# Subets
resource "aws_subnet" "tfg_az1_web_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.1.0/24"
  availability_zone = "eu-west-1a"
  tags = {
    Name = "tfg_az1_web_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az1_web" {
  subnet_id      = "${aws_subnet.tfg_az1_web_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

resource "aws_subnet" "tfg_az1_app_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.2.0/24"
  availability_zone = "eu-west-1a"
  tags = {
    Name = "tfg_az1_app_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az1_app" {
  subnet_id      = "${aws_subnet.tfg_az1_app_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

resource "aws_subnet" "tfg_az1_data_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.3.0/24"
  availability_zone = "eu-west-1a"
  tags = {
    Name = "tfg_az1_data_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az1_data" {
  subnet_id      = "${aws_subnet.tfg_az1_data_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

resource "aws_subnet" "tfg_az2_web_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.4.0/24"
  availability_zone = "eu-west-1b"
  tags = {
    Name = "tfg_az2_web_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az2_web" {
  subnet_id      = "${aws_subnet.tfg_az2_web_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

resource "aws_subnet" "tfg_az2_app_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.5.0/24"
  availability_zone = "eu-west-1b"
  tags = {
    Name = "tfg_az2_app_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az2_app" {
  subnet_id      = "${aws_subnet.tfg_az2_app_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

resource "aws_subnet" "tfg_az2_data_subnet" {
  vpc_id            = "${aws_vpc.tfg_vpc.id}"
  cidr_block        = "172.16.6.0/24"
  availability_zone = "eu-west-1b"
  tags = {
    Name = "tfg_az2_data_subnet"
    Launcher = "terraform"
  }
}

resource "aws_route_table_association" "public_association_az2_data" {
  subnet_id      = "${aws_subnet.tfg_az2_data_subnet.id}"
  route_table_id = "${aws_route_table.tfg_vpc_gw_rtable.id}"
}

##
# Security Groups
##
# Private SSH
resource "aws_security_group" "allow_private_ssh" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_private_ssh"
  description = "Allow SSH inbound traffic"
  ingress {
    from_port   = 22
    to_port     = 22
    protocol    = "tcp"
    cidr_blocks = ["172.16.10.10/32"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_private_ssh"
    Launcher = "terraform"
  }
}

# Public SSH
resource "aws_security_group" "allow_public_ssh" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_public_ssh"
  description = "Allow SSH inbound traffic"
  ingress {
    from_port   = 22
    to_port     = 22
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_public_ssh"
    Launcher = "terraform"
  }
}

# Internal Bastion Rules
resource "aws_security_group" "allow_internal_http" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_internal_http"
  description = "Allow HTTP Internal inbound traffic"
  ingress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["172.16.0.0/16"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_internal_http"
    Launcher = "terraform"
  }
}

# Databases
resource "aws_security_group" "allow_data" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_data"
  description = "Allow DB inbound traffic"
  ingress {
    from_port   = 3306
    to_port     = 3306
    protocol    = "tcp"
    cidr_blocks = ["172.16.2.0/24","172.16.5.0/24"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_data"
    Launcher = "terraform"
  }
}

# Applications
resource "aws_security_group" "allow_app" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_app"
  description = "Allow DB inbound traffic"
  ingress {
    from_port   = 8000
    to_port     = 9000
    protocol    = "tcp"
    cidr_blocks = ["172.16.1.0/24","172.16.4.0/24"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_app"
    Launcher = "terraform"
  }
}

# Web 
resource "aws_security_group" "allow_web" {
  vpc_id      = "${aws_vpc.tfg_vpc.id}"
  name        = "allow_web"
  description = "Allow HTTPS inbound traffic"
  ingress {
    from_port   = 80
    to_port     = 443
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
  tags = {
    Name = "allow_web"
    Launcher = "terraform"
  }
}

##
# SSH Key
##
resource "aws_key_pair" "ssh-key" {
  key_name   = "ssh-key"
  public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDR9UElQYCMfwnISlp1fivGJAwiRAghT46oKYMNh0HdZmfvLAfoX8D1+aNuU/vyxWb8Tb5Dp5y9lSOuhQ7bwSPHY81tQIVl0E+9Fb1VKY9MU/8isoMDvUas8PUPKQzP0nI/TRe96TFMjxO6R3O/eV62LY5WfvcKvYAKkkDfLdu34xCV90SsQUjR8Q34BU9SzClqnO3qj9oNHoasZIoVPBlXJds2H8drN1OH+iiTkUxcFA2zO+Wr1f5qqR3DCRoeeHFXap9h5UizP1DDAYOc1x6LjO250ZPX6rkOcXPaqAHWMhZJg4An1Ccz6iTjRPzjR/6FRqW813Tx8ef1gsU1FDQZ acidonpe@acidonpe.remote.csb"
}

##
# Bastion Host
##
# NIC
resource "aws_network_interface" "nic_bastion_az1" {
  subnet_id   = "${aws_subnet.tfg_az1_bastion_subnet.id}"
  private_ips = ["172.16.10.10"]
  security_groups = ["${aws_security_group.allow_public_ssh.id}","${aws_security_group.allow_internal_http.id}"]
  tags = {
    Name = "nic_bastion_az1"
    Launcher = "terraform"
  }
}

# Elastic IP
resource "aws_eip" "bastioneip_az1" {
  tags = {
    Name = "bationeip"
  }
}

# Instance
resource "aws_instance" "instance_bastion_az1" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1a"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_bastion_az1.id}"
    device_index         = 0
  }
  root_block_device {
    volume_size = 50
  }
  tags = {
    Name = "host_bastion_az1"
    Launcher = "terraform"
  }
  depends_on = ["aws_internet_gateway.tfg_vpc_gw"]
}

# Elastic IP and Instance association
resource "aws_eip_association" "eip_bastion_az1" {
  instance_id   = "${aws_instance.instance_bastion_az1.id}"
  allocation_id = "${aws_eip.bastioneip_az1.id}"
}

##
# Web AZ1 Host
##
# NIC
resource "aws_network_interface" "nic_web_az1" {
  subnet_id   = "${aws_subnet.tfg_az1_web_subnet.id}"
  private_ips = ["172.16.1.10"]
  security_groups = ["${aws_security_group.allow_web.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_web_az1"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_web_az1" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1a"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_web_az1.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_web_az1"
    Launcher = "terraform"
  }
}

##
# Web AZ2 Host
##
# NIC
resource "aws_network_interface" "nic_web_az2" {
  subnet_id   = "${aws_subnet.tfg_az2_web_subnet.id}"
  private_ips = ["172.16.4.10"]
  security_groups = ["${aws_security_group.allow_web.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_web_az2"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_web_az2" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1b"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_web_az2.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_web_az2"
    Launcher = "terraform"
  }
}

##
# Application AZ1 Host
##
# NIC
resource "aws_network_interface" "nic_app_az1" {
  subnet_id   = "${aws_subnet.tfg_az1_app_subnet.id}"
  private_ips = ["172.16.2.10"]
  security_groups = ["${aws_security_group.allow_app.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_app_az1"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_app_az1" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1a"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_app_az1.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_app_az1"
    Launcher = "terraform"
  }
}

##
# Application AZ2 Host
##
# NIC
resource "aws_network_interface" "nic_app_az2" {
  subnet_id   = "${aws_subnet.tfg_az2_app_subnet.id}"
  private_ips = ["172.16.5.10"]
  security_groups = ["${aws_security_group.allow_app.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_app_az2"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_app_az2" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1b"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_app_az2.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_app_az2"
    Launcher = "terraform"
  }
}

##
# Data AZ1 Host
##
# NIC
resource "aws_network_interface" "nic_data_az1" {
  subnet_id   = "${aws_subnet.tfg_az1_data_subnet.id}"
  private_ips = ["172.16.3.10"]
  security_groups = ["${aws_security_group.allow_data.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_data_az1"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_data_az1" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1a"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_data_az1.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_data_az1"
    Launcher = "terraform"
  }
}


##
# Data AZ2 Host
##
# NIC
resource "aws_network_interface" "nic_data_az2" {
  subnet_id   = "${aws_subnet.tfg_az2_data_subnet.id}"
  private_ips = ["172.16.6.10"]
  security_groups = ["${aws_security_group.allow_data.id}","${aws_security_group.allow_private_ssh.id}"]
  tags = {
    Name = "nic_data_az2"
    Launcher = "terraform"
  }
}

# Instance
resource "aws_instance" "instance_data_az2" {
  ami                = "ami-07683a44e80cd32c5"
  instance_type      = "t2.micro"
  availability_zone  = "eu-west-1b"
  key_name           = "${aws_key_pair.ssh-key.id}"
  network_interface {
    network_interface_id = "${aws_network_interface.nic_data_az2.id}"
    device_index         = 0
  }
  tags = {
    Name = "host_data_az2"
    Launcher = "terraform"
  }
}

# Load Balanced service

resource "aws_lb" "weblb" {
  name               = "weblb"
  internal           = false
  load_balancer_type = "application"
  security_groups    = ["${aws_security_group.allow_web.id}"]
  subnets            = ["${aws_subnet.tfg_az1_web_subnet.id}","${aws_subnet.tfg_az2_web_subnet.id}"]
  tags = {
    Name = "web_azs"
    Launcher = "terraform"
  }
}

resource "aws_lb_target_group" "webgroup" {
  name     = "webgroup"
  port     = 80
  protocol = "HTTP"
  vpc_id   = "${aws_vpc.tfg_vpc.id}"
}

resource "aws_lb_target_group_attachment" "webserver1" {
  target_group_arn = "${aws_lb_target_group.webgroup.arn}"
  target_id        = "${aws_instance.instance_web_az1.id}"
  port             = 80
}

resource "aws_lb_target_group_attachment" "webserver2" {
  target_group_arn = "${aws_lb_target_group.webgroup.arn}"
  target_id        = "${aws_instance.instance_web_az2.id}"
  port             = 80
}

resource "aws_lb_listener" "frontend" {
  load_balancer_arn = "${aws_lb.weblb.arn}"
  port              = "80"
  protocol          = "HTTP"
  default_action {
    type             = "forward"
    target_group_arn = "${aws_lb_target_group.webgroup.arn}"
  }
}